<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>About</string>
		<key>Type</key>
		<string>PSGroupSpecifier</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1.0</string>
		<key>Type</key>
		<string>PSTitleValueSpecifier</string>
		<key>Title</key>
		<string>Version</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Northeye</string>
		<key>Type</key>
		<string>PSTitleValueSpecifier</string>
		<key>Title</key>
		<string>Author</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Time settings</string>
		<key>Type</key>
		<string>PSGroupSpecifier</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Hidden</string>
		<key>Type</key>
		<string>PSToggleSwitchSpecifier</string>
		<key>Key</key>
		<string>TimeHidden</string>
		<key>DefaultValue</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<string>PSFontSpecifier</string>
		<key>Key</key>
		<string>TimeFontName</string>
		<key>DefaultValue</key>
		<string>DBLCDTempBlack</string>
		<key>Title</key>
		<string>Font Name</string>
	</dict>
	<dict>
		<key>Titles</key>
		<array>
			<string>12</string>
			<string>14</string>
			<string>16</string>
			<string>18</string>
			<string>20</string>
			<string>24</string>
			<string>28</string>
			<string>32</string>
			<string>36</string>
			<string>40</string>
			<string>44</string>
			<string>48</string>
			<string>52</string>
			<string>56</string>
			<string>60</string>
			<string>64</string>
			<string>68</string>
			<string>72</string>
		</array>
		<key>Type</key>
		<string>PSMultiValueSpecifier</string>
		<key>Key</key>
		<string>TimeFontSize</string>
		<key>DefaultValue</key>
		<string>52</string>
		<key>Title</key>
		<string>Font Size</string>
	</dict>
	<dict>
		<key>KeyboardType</key>
		<string>Alphabet</string>
		<key>AutocorrectionType</key>
		<string>No</string>
		<key>AutocapitalizationType</key>
		<string>None</string>
		<key>Type</key>
		<string>PSTextFieldSpecifier</string>
		<key>Key</key>
		<string>TimeFormat</string>
		<key>DefaultValue</key>
		<string>HH:mm</string>
		<key>Title</key>
		<string>Format</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Color</string>
		<key>Type</key>
		<string>PSColorSpecifier</string>
		<key>Key</key>
		<string>TimeColor</string>
		<key>DefaultValue</key>
		<integer>16777215</integer>
	</dict>
	<dict>
		<key>MaximumValue</key>
		<integer>30</integer>
		<key>MinimumValue</key>
		<integer>-30</integer>
		<key>Title</key>
		<string>Offset</string>
		<key>Type</key>
		<string>PSSliderSpecifier</string>
		<key>Key</key>
		<string>TimeOffset</string>
		<key>DefaultValue</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Date settings</string>
		<key>Type</key>
		<string>PSGroupSpecifier</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Hidden</string>
		<key>Type</key>
		<string>PSToggleSwitchSpecifier</string>
		<key>Key</key>
		<string>DateHidden</string>
		<key>DefaultValue</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<string>PSFontSpecifier</string>
		<key>Key</key>
		<string>DateFontName</string>
		<key>DefaultValue</key>
		<string>Helvetica</string>
		<key>Title</key>
		<string>Font Name</string>
	</dict>
	<dict>
		<key>Titles</key>
		<array>
			<string>12</string>
			<string>14</string>
			<string>16</string>
			<string>18</string>
			<string>20</string>
			<string>24</string>
			<string>28</string>
			<string>32</string>
			<string>36</string>
			<string>40</string>
			<string>44</string>
			<string>48</string>
			<string>52</string>
			<string>56</string>
			<string>60</string>
			<string>64</string>
			<string>68</string>
			<string>72</string>
		</array>
		<key>Type</key>
		<string>PSMultiValueSpecifier</string>
		<key>Key</key>
		<string>DateFontSize</string>
		<key>DefaultValue</key>
		<string>16</string>
		<key>Title</key>
		<string>Font Size</string>
	</dict>
	<dict>
		<key>KeyboardType</key>
		<string>Alphabet</string>
		<key>AutocorrectionType</key>
		<string>No</string>
		<key>AutocapitalizationType</key>
		<string>None</string>
		<key>Type</key>
		<string>PSTextFieldSpecifier</string>
		<key>Key</key>
		<string>DateFormat</string>
		<key>DefaultValue</key>
		<string>dd MMMM, EEEE</string>
		<key>Title</key>
		<string>Format</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Color</string>
		<key>Type</key>
		<string>PSColorSpecifier</string>
		<key>Key</key>
		<string>DateColor</string>
		<key>DefaultValue</key>
		<integer>16777215</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Holiday Color</string>
		<key>Type</key>
		<string>PSColorSpecifier</string>
		<key>Key</key>
		<string>HolidayColor</string>
		<key>DefaultValue</key>
		<integer>16711680</integer>
	</dict>
	<dict>
		<key>MaximumValue</key>
		<integer>30</integer>
		<key>MinimumValue</key>
		<integer>-30</integer>
		<key>Title</key>
		<string>Offset</string>
		<key>Type</key>
		<string>PSSliderSpecifier</string>
		<key>Key</key>
		<string>DateOffset</string>
		<key>DefaultValue</key>
		<integer>-9</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Misc settings</string>
		<key>Type</key>
		<string>PSGroupSpecifier</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Show background</string>
		<key>Type</key>
		<string>PSToggleSwitchSpecifier</string>
		<key>Key</key>
		<string>ShowBackground</string>
		<key>DefaultValue</key>
		<false/>
	</dict>
</array>
</plist>
